name: Go Analysis
on:
  push:
  pull_request:
  schedule:
    - cron: '11 12 * * 3'
permissions:
  actions: read
  contents: read
  security-events: write
jobs:
  Vulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Running govulncheck
        uses: Templum/govulncheck-action@v1.0.2
        with:
          go-version: '1.26'
          vulncheck-version: 'v1.1.4'
          package: ./...
          fail-on-vuln: false

  CodeQL-Analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          config-file: ./.github/codeql-config.yml
      - name: Autobuild
        uses: github/codeql-action/autobuild@v4
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
