name: Go Analysis
on:
  push:
  pull_request:
  schedule:
    - cron: '11 12 * * 3'
jobs:
  Vulncheck:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Running govulncheck
        uses: Templum/govulncheck-action@v1.0.0
        with:
          go-version: '1.22'
          package: ./...
          fail-on-vuln: false

  CodeQL-Analyse:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          config-file: ./.github/codeql-config.yml
      - name: Autobuild
        uses: github/codeql-action/autobuild@v3
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
