name: Linters-Main
on:
  push:
    branches:
      - main
jobs:
  golangci-lint:
    name: golangci-lint-latest
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.18
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
          check-latest: true
        id: go
      - name: Disable cgo
        run: |
          echo "CGO_ENABLED=0" >> $GITHUB_ENV
      - name: Check out code
        uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: latest
          args: -c .golangci.yml -v
