name: Release
on:
  push:
    tags:
      - "v*"
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      id: ${{steps.create_release.outputs.id}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set env RELEASE_VERSION
        run: echo "RELEASE_VERSION=$(echo ${GITHUB_REF} | cut -d'/' -f3)" >> $GITHUB_ENV
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ env.RELEASE_VERSION }}
          body: ${{ env.RELEASE_VERSION }}
          draft: true
          prerelease: false

  assets:
    name: Push assets for ${{ matrix.goos }}/${{ matrix.goarch }}
    needs: release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel multiple OS/ARCH
        goos: [linux, windows, darwin, freebsd]
        goarch: [amd64, arm64]
        exclude:
          - goos: windows
            goarch: arm64
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17
        id: go
      - name: Show version
        run: go version
      - name: Check out code
        uses: actions/checkout@v2
      - name: Set env
        run: |
          echo "CGO_ENABLED=0" >> $GITHUB_ENV
          echo "RELEASE_VERSION=$(echo ${GITHUB_REF} | cut -d'/' -f3 | sed 's/^v//')" >> $GITHUB_ENV
          echo "REPO_NAME=$(echo ${GITHUB_REPOSITORY} | cut -d'/' -f2)" >> $GITHUB_ENV
          echo "GOOS=$(echo ${{ matrix.goos }})" >> $GITHUB_ENV
          echo "GOARCH=$(echo ${{ matrix.goarch }})" >> $GITHUB_ENV
      - name: Setup aarch64 for arm64
        run: |
          if [[ "${{ matrix.goarch }}" == "arm64" ]] ; then
            sudo apt update
            sudo apt install -y gcc-aarch64-linux-gnu
            echo "CC=aarch64-linux-gnu-gcc" >> $GITHUB_ENV
          fi
      - name: Build
        run: go build -o ${REPO_NAME}_v${RELEASE_VERSION}
      - name: Rename binary for windows
        run: |
          if [[ "${{ matrix.goos }}" == "windows" ]] ; then
            mv ${REPO_NAME}_v${RELEASE_VERSION} ${REPO_NAME}_v${RELEASE_VERSION}.exe
          fi
      - name: Install zip utils
        run: |
          sudo apt update
          sudo apt install -y zip
      - name: Create archive zip
        run: zip ${REPO_NAME}_${RELEASE_VERSION}_${{ matrix.goos }}_${{ matrix.goarch }}.zip ${REPO_NAME}_v${RELEASE_VERSION}*
      - name: Upload archive zip to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./${{ env.REPO_NAME }}_${{ env.RELEASE_VERSION }}_${{ matrix.goos }}_${{ matrix.goarch }}.zip
          asset_name: ${{ env.REPO_NAME }}_${{ env.RELEASE_VERSION }}_${{ matrix.goos }}_${{ matrix.goarch }}.zip
          asset_content_type: application/zip

  shasum_zip:
    name: Create sha256 sum for each zip
    needs: [release,assets]
    runs-on: ubuntu-latest
    steps:
      - name: Install utils
        run: |
          sudo apt update
          sudo apt install -y jq libdigest-sha-perl
      - name: Set env
        run: |
          echo "RELEASE_VERSION=$(echo ${GITHUB_REF} | cut -d'/' -f3 | sed 's/^v//')" >> $GITHUB_ENV
          echo "REPO_NAME=$(echo ${GITHUB_REPOSITORY} | cut -d'/' -f2)" >> $GITHUB_ENV
          echo "USER_NAME=$(echo ${GITHUB_REPOSITORY} | cut -d'/' -f1)" >> $GITHUB_ENV
      - name: Download zip
        run: |
          for asset in $(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ env.USER_NAME }}/${{ env.REPO_NAME }}/releases/${{ needs.release.outputs.id }} | \
            jq -r '.assets[] | .url+","+.name')
          do
            asset_url=$(echo ${asset} | cut -d',' -f1)
            asset_name=$(echo ${asset} | cut -d',' -f2)
            curl -J -L -H "Accept: application/octet-stream" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            ${asset_url} -o ${asset_name}
          done
      - name: List files
        run: ls -la
      - name: Generate SHA256SUMS
        run: shasum -a 256 ${{ env.REPO_NAME }}_${{ env.RELEASE_VERSION }}_*.zip > ${{ env.REPO_NAME }}_${{ env.RELEASE_VERSION }}_SHA256SUMS
      - name: Upload shasum result
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./${{ env.REPO_NAME }}_${{ env.RELEASE_VERSION }}_SHA256SUMS
          asset_name: ${{ env.REPO_NAME }}_${{ env.RELEASE_VERSION }}_SHA256SUMS
          asset_content_type: application/octet-stream
  website:
    name: Deploy Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Clone original Terraform Website
        run: git clone https://github.com/hashicorp/terraform-website.git /tmp/terraform-website
      - name: Copy necessary files and co
        working-directory: ./.terraform-website/
        run: |
          cp /tmp/terraform-website/content/config.rb .
          cp /tmp/terraform-website/content/Gemfile .
          cp /tmp/terraform-website/content/Gemfile.lock .
          cp /tmp/terraform-website/content/middleman_helpers.rb .
          cp -r /tmp/terraform-website/content/source/assets ./source/
          cp /tmp/terraform-website/content/source/layouts/inner.erb ./source/layouts/
          echo "redirect 'index.html', to: 'docs/providers/junos/index.html'" >> config.rb
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"
      - name: Install middleman
        working-directory: ./.terraform-website/
        run: |
          gem install bundler bundler:1.17.3
          # json fail with (1.8.3.1) in Gemfile.lock
          bundle update json --jobs 4 --retry 3
          bundle install --jobs 4 --retry 3
      - name: Build Website
        working-directory: ./.terraform-website/
        run: bundle exec middleman build --verbose
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-1
      - name: Download google files from S3
        run: aws s3 cp s3://terraform-provider-junos.jeremm.fr/google72955f25e01c2a06.html .terraform-website/build/
      - name: Upload Website on S3
        run: aws s3 sync .terraform-website/build/ s3://terraform-provider-junos.jeremm.fr/ --delete
      - name: Invalidate Cloudfront Distribution
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.DISTRIBUTION_ID }} --paths "/docs/*"